<section class=" bg-black">
    <div class="md:w-[80%] mx-auto p-7  font-robotoSerif text-white">
        <div>
            <h1 class="text-6xl font-bold font-robotoSerif">SpenzyBlog</h1>
        </div>
        <div class="border-b-2 border-color-mustard-yellow mx-auto my-7">
        </div>
        <div class="grid md:grid-cols-4 gap-5">
            <div>
                <h2 class="font-semibold">About</h2>
                <p class="text-sm font-oswald mt-5"><span class="font-oswald font-semibold">SpenzyBlog</span> started with a simple idea: to create a space where people could come together to learn, share, and grow. Founded in [year],
                    we’ve evolved from a small passion project to a thriving hub for individuals who love to stay informed and inspired.
                </p>
            </div>
            <div class="md:text-center">
                <h2 class="font-semibold">Company</h2>
                <ul class="mt-5 text-sm font-oswald">
                    <li>
                        <a href="{% url 'about-page' %}" class="hover:text-blue-600">About Us</a>
                    </li>
                    <li>
                        <a href="{% url 'contact-page' %}" class="hover:text-blue-600">Contact Us</a>
                    </li>
                    <li>
                        <a href="{% url 'home-page' %}" class="hover:text-blue-600">Home</a>
                    </li>
                    <li>
                        <a href="{% url 'logout_page' %}" class="hover:text-blue-600">
                            LogOut
                        </a>
                    </li>
                    
                </ul>
            </div>
            <div>
                <h2 class="font-semibold ">Legal</h2>
                <ul class="mt-5 text-sm font-oswald">
                    <li>
                        <a href="{% url 'home-page' %}" class="hover:text-blue-600">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="{% url 'home-page' %}" class="hover:text-blue-600">Terms Of Service</a>
                    </li>
                    <li>
                        <a href="{% url 'home-page' %}" class="hover:text-blue-600">Code Of Conduct</a>
                    </li>
                    <li>
                        <a href="{% url 'home-page' %}" class="hover:text-blue-600">Services</a>
                    </li>
                    
                </ul>
            </div>
            <div>
                <h2 class="font-semibold">Follow Us</h2>
                <ul class="md:mt-5 text-sm font-oswald">
                    <li>
                        <a href="{% url 'home-page' %}" class="hover:text-blue-600">Facebook</a>
                    </li>
                    <li>
                        <a href="{% url 'home-page' %}" class="hover:text-blue-600">Twitter</a>
                    </li>
                    <li>
                        <a href="{% url 'home-page' %}" class="hover:text-blue-600">Instagram</a>
                    </li>
                    <li>
                        <a href="{% url 'home-page' %}" class="hover:text-blue-600">Youtube</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</section>