<section class="bg-color-forest-green font-robotoSerif">
    <!-- nav section -->
    <nav class="md:w-[80%] p-5 mx-auto flex justify-between items-center relative">
        <!-- logo link -->
        <div class="flex-shrink-0">
            <a href="/">
                <span class="text-white font-bold">My logo</span>
            </a>
        </div>

        <!-- Desktop nav li's -->
        <div class="hidden md:flex flex-1 justify-center items-center space-x-5 font-semibold">
            <ul class="flex space-x-5">
                <li>
                    <a href="{% url 'home-page' %}" class="text-white ease-in duration-200 {% if request.path == '/' %}active{% endif %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'create_post' %}" class="text-white ease-in duration-200 {% if request.path == '/create-post/' %}active{% endif %}">Create</a>
                </li>
                <li>
                    <a href="{% url 'about-page' %}" class="text-white ease-in duration-200 {% if request.path == '/about/' %}active{% endif %}">About Us</a>
                </li>
                <li>
                    <a href="{% url 'contact-page' %}" class="text-white ease-in duration-200 {% if request.path == '/contact/' %}active{% endif %}">Contact Us</a>
                </li>
            </ul>
        </div>

        <!-- nav-btn's -->
        <div class="hidden md:flex items-center space-x-5 font-semibold">
            <a href="{% url 'dashboard-page' %}" class="text-white border-b-2 border-color-mustard-yellow capitalize hover:bg-color-mustard-yellow hover:text-color-forest-green hover:rounded-md hover:px-2 transition ease-in duration-200">
                Dashboard
            </a>
            
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout_page' %}" class="text-white border-b-2 border-color-mustard-yellow capitalize hover:bg-color-mustard-yellow hover:text-color-forest-green hover:rounded-md hover:px-2 transition ease-in duration-200">
                LogOut
            </a>
            {% else %}
            <a href="{% url 'login_page' %}" class="text-white border-b-2 border-color-mustard-yellow capitalize hover:bg-color-mustard-yellow hover:text-color-forest-green hover:rounded-md hover:px-2 transition ease-in duration-200">
                Sign in
            </a>
            <a href="{% url 'signup_page' %}" class="text-white border-b-2 border-color-mustard-yellow capitalize hover:bg-color-mustard-yellow hover:text-color-forest-green hover:rounded-md hover:px-2 transition ease-in duration-200">
                Sign up
            </a>
            {% endif %}
        </div>

        <!-- Hamburger icon for mobile -->
        <button id="hamburger" class="md:hidden text-white focus:outline-none">
            <i class="fa-solid fa-bars text-2xl"></i>
        </button>

        <!-- Mobile menu -->
        <div id="menu2" class="hidden bg-color-forest-green h-[100vh] w-full absolute top-0 left-0">
            <ul class="h-full flex flex-col justify-center items-center space-y-8">
                <li>
                    <a href="{% url 'home-page' %}" class="text-white text-2xl ease-in duration-200 {% if request.path == '/' %}active{% endif %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'create_post' %}" class="text-white text-2xl ease-in duration-200 {% if request.path == '/create-post/' %}active{% endif %}">Create</a>
                </li>
                <li>
                    <a href="" class="text-white text-2xl ease-in duration-200 {% if request.path == '/about/' %}active{% endif %}">About Us</a>
                </li>
                <li>
                    <a href="" class="text-white text-2xl ease-in duration-200 {% if request.path == '/contact/' %}active{% endif %}">Contact Us</a>
                </li>
                <li>
                    <a href="{% url 'dashboard-page' %}" class="text-white text-2xl ease-in duration-200">Dashboard</a>
                </li>
                {% if request.user.is_authenticated %}
                <li>
                    <a href="{% url 'logout_page' %}" class="text-white text-2xl ease-in duration-200">LogOut</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login_page' %}" class="text-white text-2xl ease-in duration-200">Sign in</a>
                </li>
                <li>
                    <a href="{% url 'signup_page' %}" class="text-white text-2xl ease-in duration-200">Sign up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</section>

<script>
    const hamburger = document.getElementById('hamburger');
    const menu = document.getElementById('menu2');
    const hlink = document.querySelectorAll('#menu2 a');
    const fasolid = hamburger.querySelector('.fa-solid');

    // Toggle mobile menu
    hamburger.addEventListener('click', () => {
        menu.classList.toggle('hidden');
        fasolid.classList.add('fa-xmark');
    });
    
    // Close menu when a link is clicked
    hlink.forEach(link => {
        link.addEventListener('click', () => {
            menu.classList.add('hidden');
            fasolid.classList.remove('fa-xmark');
        });
    });
</script>